:root {
  --surface-color: #fff;
  --curve: 40;
  --page-background-color: #fef8f8;
  --title-color: #a06784;
  --contact-card-color: #fff;
  --contact-text-color: #d7bdca;
}

* {
  box-sizing: border-box;
  font-family: Merriweather;
  font-style: normal;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--page-background-color);
}

h1 {
  user-select: none;
}
